<ion-content style="bottom:120px;">
  <div class="row row-center" ng-if="$ctrl.no_item">
    <div class="col col-center">
      No items
    </div>
  </div>
  <div class="list list-inset" ng-repeat="(shopId,cart) in $ctrl.carts.carts">
    <ion-item class="item-divider">
      {{cart.shop.name}}
      <span class="item-note">
        {{cart.delivery.delivery_time}} {{cart.delivery.delivery_time_unit}}
      </span>
    </ion-item>
    <ion-item>
      <ion-list can-swipe="true">
        <my-cart-product-list-item item="item" currency="cart.shop.currency" remove-from-cart="$ctrl.removeFromCart(cart.shop.id,$index)" ng-repeat="item in cart.orderItems">
        </my-cart-product-list-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <div class="text-right">
        Sub total: {{cart.total | currency:cart.shop.currency}}
      </div>
      <div class="text-right">
        Discount: {{cart.discount | currency:cart.shop.currency}}
      </div>
      <div class="text-right">
        Delivery fee: {{cart.deliveryFee | currency:cart.shop.currency}}
      </div>
      <div class="text-right">
        Total: {{(cart.total) | currency:cart.shop.currency}}
      </div>
    </ion-item>
  </div>
  <!--<ion-slides ion-wizard slider="swiper" options="swiperOptions" ng-if="$ctrl.carts.length > 0">
    <ion-slide-page ion-wizard-step ng-repeat="cart in $ctrl.carts">
      <ion-content>
        <div class="list list-inset">
          <ion-item class="item-divider">
            {{cart.shop.name}}
          </ion-item>
          <ion-item>
            <ion-list can-swipe="true">
              <my-cart-product-list-item item="item" currency="$ctrl.currency" remove-from-cart="$ctrl.removeFromCart(cart.shopId,$index)" ng-repeat="item in cart.order_items">
              </my-cart-product-list-item>
            </ion-list>
          </ion-item>
          <ion-item>
            <delivery-location-picker shop-id="cart.shop.id" address-change="$ctrl.deliveryAddressChanged()"></delivery-location-picker>
          </ion-item>
          
        </div>
        <div class="row">
          <span class="col text-right" style="margin-top:-20px;">
            Total: {{cart.totalPrice | currency:cart.shop.currency}}
          </span>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page ion-wizard-step>
      <ion-content>
        <div class="list list-inset">
          <div class="item item-divider">Summary</div >
          <ion-item ng-repeat="cart in $ctrl.carts">
            <div class="row">
              <div class="col no-padding">
                {{cart.shop.name}}
              </div>
              <div class="col  no-padding text-right">
                {{cart.totalPrice | currency:cart.shop.currency}}
              </div>
            </div>
            <div class="row ">
              <div class="col  no-padding">
                Item: {{cart.order_items.length}}
              </div>
            </div>
            <div class="row">
              <div class="col  no-padding text-wrap">
                {{cart.delivery_address.formatted_address}}, <span>{{cart.delivery_time}}</span>
              </div>
            </div>
            
          </ion-item>
        </div>
      </ion-content>
    </ion-slide-page>-->
    
  </ion-slides>
</ion-content>
<div class="background-gradient light" style="height:auto;position:absolute;bottom:0px;width:100%;">
  <div class="row">
    <div class="col">
      <p style="width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;">
        Delivery to {{$ctrl.deliveryLocation.formatted_address}}
      </p>
    </div>
  </div>
  <div class="row" ng-if="!$ctrl.no_item">
    <div class="col">
      <button class="button button-positive button-block no-margin" ng-click="$ctrl.checkoutButtonHandler()">Check out - {{$ctrl.carts.total | currency:$ctrl.currency}} </button>
    </div>
  </div>
  
</div>
