<div class="list card">
  <div class="item item-image" >
    <img ng-src="{{$ctrl.product.images[0]}}" alt="No image">
    <wish-list-button product='$ctrl.product'></wish-list-button>
  </div>
  <div class="item item-body">
    <div class="item-body-seperate" style="width: 70%;">
      <h4 class="product-name">{{$ctrl.product.name}}</h4>
      <p class="product-desc">
        {{$ctrl.product.description}}
      </p>
    </div>
    <div class="item-body-seperate text-right" style="width: 30%;">
      <div ng-if="$ctrl.isFreeShipping()" class="balanced free-shipping-text">Free Shipping</div>
      <div style='{{$ctrl.product.promotions.length>0?"text-decoration:line-through;":""}}' >{{$ctrl.product.productVariants[0].price | currency:$ctrl.product.shop.currency}}</div>
      <div ng-if="$ctrl.product.promotions.length>0" class="assertive">{{$ctrl.product.productVariants[0].price - ($ctrl.product.productVariants[0].price * ($ctrl.product.promotions[0].discount_amount/100)) | currency:$ctrl.product.shop.currency}}</div>
    </div>
  </div>
</div>
