<ion-content>
  <div class="list list-inset">
    <ion-item>
      <div class="row">
        <div class="col">
          Subtotal
        </div>
        <div class="col text-right">
          {{$ctrl.data.price | currency:$ctrl.currency}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Delivery fee
        </div>
        <div class="col  text-right">
          {{$ctrl.data.deliveryFee | currency:$ctrl.currency}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Discount
        </div>
        <div class="col  text-right">
          {{$ctrl.data.discount | currency:$ctrl.currency}}
        </div>
      </div>
      
    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col">
          Total
        </div>
        <div class="col  text-right">
          {{$ctrl.data.total | currency:$ctrl.currency}}
        </div>
      </div>
    </ion-item>
  </div>
  <div class="list list-inset">
    <credit-card-select-item ng-model="$ctrl.card"></credit-card-select-item>
  </div>
</ion-content>

<div class="dark-bg light" style="height:auto;position:absolute;bottom:0px;width:100%;">
  <div class="row">
    <div class="col">
      <p style="width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;">
        Delivery to {{$ctrl.deliveryLocation.formatted_address}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="button button-positive button-block no-margin" ng-click="$ctrl.checkout()">Check out - {{$ctrl.data.total | currency:$ctrl.currency}} </button>
    </div>
  </div>
  
</div>