<div class="list card no-margin" style="position:relative;">
  <div class="item item-image" style="background-image:url({{$ctrl.shop.cover}});height:200px;background-size:cover;background-position:center center;">
  </div>
  <div class="item item-thumbnail-left item-borderless" style="position:absolute;bottom:0px;width:100%;background-color:rgba(0,0,0,0.3)">
    <div class="item-image shop-image" style="background-image:url({{$ctrl.shop.image}}),url(http://placehold.it/200x200);"></div>
    <h2 style="color:white;">{{$ctrl.shop.name}}</h2>
    <p style="color:white;">{{$ctrl.shop.description}}</p>
    <p style="color:white;">{{$ctrl.shop.location.formatted_address || "Unknown"}}</p>
  </div>
</div>

