<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <button type="button" class="button button-clear" ng-click="$ctrl.done()">Done</button>
    <h1 class="title">Credit card</h1>
    <button type="button" class="button button-clear" ng-click="$ctrl.edit()"><i class="ion-icon ion-android-add"></i></button>
  </ion-header-bar>
  <ion-content >
    <div class="list list-inset">
      <div class="item item-divider">
        Previously used credit card
      </div>
      <ion-item ng-model="$ctrl.cardIndex" ng-value="$index" ng-repeat="card in $ctrl.cards" on-hold="$ctrl.showActions(card)" ng-click="$ctrl.editCard()">
        <div>{{card.number}}</div>
      </ion-item>
    </div>



  </ion-content>
</ion-modal-view>

