@import "./../../../../scss/variables.scss";
.mysidebar .item, .mysidebar .item .item-content, .mysidebar{
  background-color: $dark;
  color: $light;
  
}

.mysidebar .item-content {
	padding-top: 6px;
	padding-bottom: 6px;

	.badge {
		top: 6px;
	}
}