<ion-view>
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-nav-bar class="background-gradient">
        <ion-nav-back-button ng-click="$ctrl.goBack()"></ion-nav-back-button>
        <ion-nav-buttons side="right">
          <!-- Toggle right side menu -->
          <my-cart ui-sref="sidemenu.myShoppingCart" menu-close></my-cart>
          <button ng-click="$ctrl.toggleSidebar()" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
      </ion-nav-bar>

      <ion-nav-view name="sidemenu-content"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right" class="mysidebar padding">
      <ion-list class="">
        <ion-item class="item-borderless" ui-sref="sidemenu.home" menu-close>
          Home
        </ion-item>
        <ion-item class="item-borderless" ui-sref="sidemenu.myProfile" menu-close ng-if="$ctrl.isAuthenticated">
          My profile
        </ion-item>
        <ion-item class="item-borderless" ui-sref="sidemenu.chatList" menu-close ng-if="$ctrl.isAuthenticated">
          Chat
        </ion-item>
        <ion-item class="item-icon-right item-borderless" ui-sref="sidemenu.myShoppingCart" menu-close>
          My shopping cart
          <span class="badge badge-positive">{{$ctrl.myCartCount()}}</span>
        </ion-item>
        <ion-item class="item-icon-right item-borderless" ui-sref="sidemenu.myWishlist" menu-close>
          My wishlist
          <span class="badge badge-positive">{{$ctrl.wishListCount()}}</span>
        </ion-item>
        <ion-item class="item-borderless" ui-sref="sidemenu.myOrders" menu-close ng-if="$ctrl.isAuthenticated">
          My orders
        </ion-item>
        <ion-item class="item-borderless" ui-sref="logout" menu-close ng-if="$ctrl.isAuthenticated">
          Logout
        </ion-item>
        <ion-item class="item-borderless" ui-sref="login" menu-close ng-if="!$ctrl.isAuthenticated">
          Login
        </ion-item>
      </ion-list>
    </ion-side-menu>
  </ion-side-menus>

</ion-view>
